///
/// Styles for the content intro/landing page
///

.acf-tab-grid {
	max-width: 800px;

	* {
		box-sizing: border-box;
	}

	ul {
		display: grid;
		grid-template-columns: repeat( 3, 1fr );
		gap: 0.5rem;

		@media screen and ( max-width: 782px ) {
			grid-template-columns: repeat( 2, 1fr );
		}

		@media screen and ( max-width: 600px ) {
			display: block;
		}
	}

	li {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 1rem;
		border: solid 1px #c3c4c7;

		figure {
			width: 100%;
			margin: 0;

			figcaption {
				width: 100%;
				max-width: 120px;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
			}
		}

		h3 {
			margin: 0;

			.post-count {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				padding: 0.25em 0.5em;
				line-height: 1;
				vertical-align: bottom;
				border-radius: 0.325em;
				font-size: 0.6875rem;
				background: #2271b1;
				color: #ffffff;
				cursor: default;
			}

			.add-new {
				text-decoration: none;
				color: inherit;
			}
		}

		.acf-tab-grid-icon {
			width: 100%;
			height: auto;
			padding: .75rem .75rem .5rem;
			font-size: 2.5rem;
		}
	}
}

.content-types-message {
	margin: 1rem 0;
	padding: 1px 12px;
	background: #ffffff;
	border: 1px solid #c3c4c7;
	border-left-width: 4px;
	border-left-color: #dba617;
	box-shadow: 0 1px 1px rgba( $color: black, $alpha: 0.04 );
}

// Color scheme compatibility.
.admin-color-light {
	.acf-tab-grid li h3 .post-count {
		background: #888888;
	}
}

.admin-color-modern {
	.acf-tab-grid li h3 .post-count {
		background: #3858e9;
	}
}

.admin-color-blue {
	.acf-tab-grid li h3 .post-count {
		background: #096484;
	}
}

.admin-color-coffee {
	.acf-tab-grid li h3 .post-count {
		background: #c7a589;
	}
}

.admin-color-ectoplasm {
	.acf-tab-grid li h3 .post-count {
		background: #a3b745;
	}
}

.admin-color-midnight {
	.acf-tab-grid li h3 .post-count {
		background: #e14d43;
	}
}

.admin-color-ocean {
	.acf-tab-grid li h3 .post-count {
		background: #9ebaa0;
	}
}

.admin-color-sunrise {
	.acf-tab-grid li h3 .post-count {
		background: #dd823b;
	}
}

// Admin Color Schemes plugin.
.admin-color-80s-kid {
	.acf-tab-grid li h3 .post-count {
		background: #d13674;
	}
}

.admin-color-adderley {
	.acf-tab-grid li h3 .post-count {
		background: #1730e5;
	}
}

.admin-color-aubergine {
	.acf-tab-grid li h3 .post-count {
		background: #c99416;
	}
}

.admin-color-contrast-blue {
	.acf-tab-grid li h3 .post-count {
		background: #dae9f3;
		color: unset;
	}
}

.admin-color-cruise {
	.acf-tab-grid li h3 .post-count {
		background: #79b591;
	}
}

.admin-color-flat {
	.acf-tab-grid li h3 .post-count {
		background: #1abc9c;
	}
}

.admin-color-kirk {
	.acf-tab-grid li h3 .post-count {
		background: #bd3854;
	}
}

.admin-color-lawn {
	.acf-tab-grid li h3 .post-count {
		background: #a7b145;
	}
}

.admin-color-modern-evergreen {
	.acf-tab-grid li h3 .post-count {
		background: #0f4232;
	}
}

.admin-color-primary {
	.acf-tab-grid li h3 .post-count {
		background: #d8b230;
	}
}

.admin-color-seashore {
	.acf-tab-grid li h3 .post-count {
		background: #456a7f;
	}
}

.admin-color-vinyard {
	.acf-tab-grid li h3 .post-count {
		background: #cc9e14;
	}
}
