.acf-tab-grid {
  max-width: 800px;
}

.acf-tab-grid * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.acf-tab-grid ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.acf-tab-grid li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 1rem;
  border: solid 1px #c3c4c7;
}

.acf-tab-grid li figure {
  width: 100%;
  margin: 0;
}

.acf-tab-grid li figure figcaption {
  width: 100%;
  max-width: 120px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.acf-tab-grid li h3 {
  margin: 0;
}

.acf-tab-grid li .acf-tab-grid-icon {
  width: 100%;
  height: auto;
  padding: .75rem .75rem .5rem;
  font-size: 2.5rem;
}
