@import "rouge-base16-dark";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}

body {
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-size: 1rem;
	line-height: 1.5;
	color: #333333;
	background: #ffffff;
}

.page-header {
	padding: 1rem 0;
	background: #00e4bc;
	color: #ffffff;

	p {
		margin: 0;
	}

	a {
		color: #ffffff;
	}
}

.page-navigation {
	ul {
		list-style: none;
		margin: 0;
		display: flex;
		font-size: 0.9375rem;
		font-weight: 700;
		transform: translate( -1.25rem );

		li {
			margin: 0;

			a {
				display: inline-block;
				padding: 0.9375rem 1.25rem;
				line-height: 1;

				&:hover {
					background: rgba( 0, 0, 0, 0.03 );
				}
			}
		}
	}
}

.page-title {
	font-size: 3.1875rem;
	font-weight: 700;
	letter-spacing: -2%;
}

.page-description {
	font-size: 1.125rem;
	font-weight: 400;
}

#main_content {
	padding-top: 3rem;
}

.inner {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 2rem;

	img {
		max-width: 100%;
		width: auto;
	}
}

.page-footer {
	margin: 2rem 0;
	padding: 0 2rem;
}

.download-links {
	list-style: none;
	margin: 0;
	display: flex;
	gap: 1em;
	font-size: 0.875rem;
}

code, pre {
	margin: 2rem 0 0 0;
	font-family: Source Code Pro, Roboto Mono, Fira Code, Liberation Mono, Inconsolata, Menlo, Monaco, Consolas, Cascadia Mono, Segoe UI Mono, Oxygen Mono, Ubuntu Monospace, Fira Mono, Droid Sans Mono, Courier New, Courier, ui-monospace, monospace, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	font-size: 0.875rem;
	color: #222222;
}

code {
	padding: 0 3px;
	background-color: #f2f2f2;
	border: solid 1px #dddddd;
}

pre {
	padding: 20px;
	overflow: auto;
	color: #f2f2f2;
	text-shadow: none;
	background: #303030;

	code {
		padding: 0;
		color: #f2f2f2;
		background-color: #303030;
		border: none;
	}
}

hr {
	display: block;
	width: 100%;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

table {
	width: 100%;
	border: 1px solid #ebebeb;
}

th {
	font-weight: 600;
}

td {
	text-align: center;
	border: 1px solid #ebebeb;
}

h1 {
	font-size: 1.625rem;
	font-weight: 600;
}

h2 {
	font-size: 1.25rem;
	font-weight: 600;
}

p {
	margin-top: 1rem;
}

a {
	text-decoration: none;
	color: #4d5cf1;
}

blockquote {
	margin: 2rem;
}

ul, ol {
	margin: 1rem 0 0 1em;

	li {
		margin-top: 1em;
	}
}

footer {
	margin-top: 2rem;
	padding: 2rem;
	font-size: 0.8125rem;
}

.clearfix {
	display: block;
}

.clearfix:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and ( max-width: 959px ) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and ( min-width: 768px ) and ( max-width: 959px ) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and ( max-width: 767px ) {

	#download-zip, #download-tar-gz {
		display: none;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and ( min-width: 480px ) and ( max-width: 767px ) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and ( max-width: 479px ) {}
